<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>TechnicBold.ttf</string>
		<string>ArialUnicode.subset.ttf</string>
		<string>FangSong_GB2312.subset.ttf</string>
		<string>SimHei.subset.ttf</string>
		<string>SimSun.subset.ttf</string>
		<string>STSong.subset.ttf</string>
		<string>STSongti-SC-Black.subset.ttf</string>
		<string>STSongti-SC-Bold.subset.ttf</string>
		<string>STSongti-SC-Light.subset.ttf</string>
		<string>STSongti-SC-Regular.subset.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
