<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>仿宋_GB2312.ttf</string>
		<string>黑体_常规.ttf</string>
		<string>宋体_SimSun.ttf</string>
		<string>Arial Unicode.ttf</string>
		<string>HuawenSongti.ttc</string>
		<string>TechnicBold.ttf</string>
		<string>technic.ttf</string>
	</array>
</dict>
</plist>
